* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white;
}

html,
body {
  height: 100%;
  width: 100% ;
  background-color: #111;
}

.parent {
  display: flex;
  padding: 20px;
  flex-wrap: nowrap;
}

.card {
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
  gap: 20px;
}


.card p {
  margin: 20px 0px;
}

.card button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}

.card img{
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}