.btn {
    background-color: #007bff;
    color: #fff;
    width: 100px;
    margin: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

